/* .access-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.access-full-width {
  width: 100%;
} */
.logueo{
  width: 350px;
  display: flex;
  /* height: 120px; */
}
.logueo-form{
  background-color: #E0E0E0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
}

.logueo-full-width{
  background-color: #E0E0E0;
  flex-grow: 1;
  /* width: 100px; */

}

.form-login{
  width: 100%;
  margin: 0px;
  height: 50px;
}

.boton-login{
  background-color: #2d8369;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.7em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -0.8em; margin-top: -4px;}
